<!DOCTYPE html>
{% load static %}
{% include "pleaselogin.html" %}
<html lang="en">

<head>
    <script src="{% static '/js/trim.js' %}"></script>
    <script language="javascript"> 
        function check(){
            var idval = f.email.value;
            idval = trim(idval);
            if(idval.length == 0){
                alert("이메일을 넣어주세요");
                f.email.value = "";
                f.email.focus();
                return false;
            }else{
                pass = checkByteLen(idval, 50);
                if(!pass){
                    alert("이메일이 너무 길어요");
                    f.email.focus();
                    return false;
                }
            }
            
            var pwdval = f.password.value;
            pwdval = trim(pwdval);
            if(pwdval.length == 0){
                alert("비밀번호를 넣어주세요");
                f.password.value = "";
                f.password.focus();
                return false;
            }else{
                pass = checkByteLen(pwdval, 30);
                if(!pass){
                    alert("비밀번호가 너무 길어요");
                    f.password.focus();
                    return false;
                }
            }

            f.submit();
        }

        function checkByteLen(str, size){
            var byteLen = getByteLen(str);
            if(byteLen <= size){
                return true;
            }else{
                return false;
            }
        }
        function getByteLen(str){
        return str.replace(/[\0-\x7f]|([0-\u07ff]|(.))/g,"$&$1$2").length;
        }
        
        function enterCheck(elm){
            if(event.keyCode == 13){
                if(elm == f.email){
                    f.password.focus();
                }else{
                    check();
                }
            }
        }
    </script>
    <meta charset="utf-8">
    <title>YourClass - Team IDLE</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

	<style>
	@import url('https://fonts.googleapis.com/css2?family=Mynerve&display=swap');
	</style>

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="{% static 'lib/animate/animate.min.css'%}" rel="stylesheet">
    <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css'%}" rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="{% static 'css/style.css'%}" rel="stylesheet">
</head>

<body onload="document.f.email.focus()">
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- 네비게이션바와 메인페이지 시작 -->
        <div class="container-xxl position-relative p-0" style="margin-bottom: 50px">
            <nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
                <a href="{% url "index" %}" class="navbar-brand p-0">
                    <h1 class="m-0">YourClass</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0">
					<!-- 툴바 가장 앞의 내용은 : 비회원접속시 아무것도안뜸, 회원접속시 회원이름이 뜨고 이름을 클릭하면 마이페이지로 이동 -->
					{% if request.session.login_ %}
						<!-- 로그인페이지에서 인덱스로 리다이렉트될 때 세션과 Member.class(이따 아래에서 나옴), Member.name 가 넘어와야한다-->
                        <a href="{% url 'mypage' %}" class="nav-item nav-link">{{member.name}}</a>
					{% endif %}
                        <a href='{% url "calendar" %}' class="nav-item nav-link">일정</a>
                        <div class="nav-item dropdown">
                            <a href="{% url 'board1' %}" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">게시판</a>
                            <div class="dropdown-menu m-0">
								<!-- 게시판명은 Models.py의 Categories 테이블의 name 컬럼의 값을 반복으로 넣어줘야함, 비회원이면?안떠야함-->
								{% for category_name in categories %}
                                    {% if not category_name == '자료실' %}
                                    <a href="{% url 'board_category' category_name %}" class="dropdown-item">{{category_name}}</a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                        <a href="{% url 'board_category' '자료실' %}" class="nav-item nav-link">자료실</a>
                    </div>
                    {% if request.session.login_ %}
                        <a href="{% url 'logout' %}" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5">로그아웃</a>
                    {% else %}
                        <a href="{% url 'login' %}" class="btn btn-light rounded-pill text-primary py-2 px-4 ms-lg-5">로그인</a>
                    {% endif %}
                </div>
            </nav>

            <div class="container-xxl bg-primary page-header" style="margin-bottom: 0px; padding-bottom: 0px; padding-top:150px;">
                <div class="container text-center">
                    <h1 class="text-white animated zoomIn mb-3" style="margin-bottom: 0; padding-bottom: 50px; padding-top: 0px;">회원정보수정</h1>

                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


        <!-- Quote Start -->
        <form name="f" action={% url 'editinfo_ok' %} method="POST">
            {% csrf_token %}
            <div class="container-xxl py-6">
                <div class="container">
                    <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">YourClass</div>
                        <h2 class="mb-5">회원정보 수정</h2>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-7 wow fadeInUp" data-wow-delay="0.3s">
                            <form>
                                <div class="row g-3">
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input name="email" type="email" class="form-control" id="email" placeholder="Your Email" onkeydown="enterCheck(this)" value={{member.email}}>
                                            <label for="email">Your@email.com</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input name="name" type="text" class="form-control" id="name" placeholder="Your name" onkeydown="enterCheck(this)" value={{member.name}}>
                                            <label for="name">name</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input name="password1" type="password" class="form-control" id="password1" placeholder="Your Password" onkeydown="enterCheck(this)">
                                            <label for="name">Password</label>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input name="password2" type="password" class="form-control" id="password2" placeholder="Your Password" onkeydown="enterCheck(this)">
                                            <label for="name">Confirm Password</label>
                                        </div>
                                    </div>                                
                                    <div class="col-12">
                                        <div class="form-floating" style="font-size: 25px;">
                                            직업선택 
                                            <input type='radio' name='dept' value='선생님' onclick="showClassField()"/>선생님
                                            <input type='radio' name='dept' value='학생' onclick="showCombo()"/>학생
                                            <input type='radio' name='dept' value='팀장' onclick="showCombo()"/>팀장
                                        </div><br>
                                        <div id="classField" class="form-floating" style="display: none; font-size: 25px;">
                                            클래스선택
                                            <input type="text" name="classnames1" style="font-size: 25px;">
                                        </div>
                                        <div id="comboField" class="form-floating" style="display: none; font-size: 25px;">
                                            클래스선택
                                            <form>
                                                <select name="classnames2" style="font-size: 25px;">
                                                    {% for classname in classnames %}
                                                    <option value="{{classname}}">{{classname}}
                                                    {% endfor %}
                                                </select>
                                            </form>
                                        </div>
                                    </div>
                                    <script>
                                        function showClassField() {
                                            var classField = document.getElementById("classField");
                                            var comboField = document.getElementById("comboField");
                                            if (document.querySelector('input[name="dept"]:checked').value == "선생님") {
                                                classField.style.display = "block";
                                                comboField.style.display = "none";
                                            } else {
                                                classField.style.display = "none";
                                            }
                                        }
                                        function showCombo() {
                                            var comboField = document.getElementById("comboField");
                                            var classField = document.getElementById("classField");
                                            if (document.querySelector('input[name="dept"]:checked').value != "선생님") {
                                                comboField.style.display = "block";
                                                classField.style.display = "none";
                                            } else {
                                                comboField.style.display = "none";
                                            }
                                        }
                                    </script>
                                    <div class="col-12">
                                        <button class="btn btn-primary w-100 py-3" type="submit">정보수정</button>
                                    </div>
                                    <div class="col-12">
                                        <a href="/YourClass/deleteuser/{{member.email}}"><button class="btn btn-primary w-100 py-3" type="button" style="background-color:red; border-color:red">회원탈퇴</button></a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!-- Quote End -->
        

        <!-- Footer Start -->
        <div class="container-fluid bg-dark text-light footer pt-5 wow fadeIn" data-wow-delay="0.1s" style="margin-top: 6rem;">
            
            <div class="container">
                <div class="copyright">
                    <div class="row">
                        <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                            &copy; <a class="border-bottom" href="#">YourClass</a>, All Right Reserved. 
							
							<!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
							Designed By <a class="border-bottom" href="https://htmlcodex.com">TeamIDLE</a>
                            <br>Distributed By: <a class="border-bottom" href="https://themewagon.com" target="_blank">TeamIDLE</a>
                        </div>
                        <div class="col-md-6 text-center text-md-end">
                            <div class="footer-menu">
                                <a href="">Leader 이대원</a>
                                <a href="">황용구</a>
                                <a href="">윤수한</a>
                                <a href="">이진형</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer End -->

        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="{% static 'lib/wow/wow.min.js'%}"></script>
    <script src="{% static 'lib/easing/easing.min.js'%}"></script>
    <script src="{% static 'lib/waypoints/waypoints.min.js'%}"></script>
    <script src="{% static 'lib/owlcarousel/owl.carousel.min.js'%}"></script>

    <!-- Template Javascript -->
    <script src="{% static 'js/main.js'%}"></script>
</body>


</html>
