{% extends "base.html" %}
{% load static %}
{% block contents %}

			<!-- 회의하는 사람들 이미지와 소개내용 -->
            <div class="container-xxl bg-primary hero-header">
                <div class="container">
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-6 text-center text-lg-start">
							<!-- 소개페이지 타이틀 : 비회원접속시와 회원접속시 구분 -->
							{% if request.session.login_ %}
                                {% if member.classnames_id %}
                                    <span>&nbsp;&nbsp;&nbsp;&nbsp;
                                    <h1 class="text-white mb-4 animated zoomIn"> 환영합니다</br> {{member.classnames_id}} CLASS 입니다</h1>
                                    <p class="text-white pb-3 animated zoomIn">오늘도~~ 공부열심히~~~~</p>
                                    </span>
                                {% endif %}
							{% else %}
								<!-- 로그인페이지에서 인덱스로 리다이렉트될 때 세션과 Member.class, Member.name가 넘어와야한다-->
                                <h1 class="text-white mb-4 animated zoomIn">당신이 만날 새로운 커뮤니티 공간</h1>
                                <p class="text-white pb-3 animated zoomIn">유어클래스에 가입하면 엄청나게 많은 혜택을 누리실 수 있습니다 게다가 이모든것이 공짜 이래도 가입안할거야??</p>
                                <a href="/YourClass/signup" class="btn btn-outline-light rounded-pill border-2 py-3 px-5 animated slideInRight">회원가입</a>
							{% endif %}
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="static 'img-fluid animated zoomIn" src="{% static 'img/hero.png'%}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 네비게이션바와 메인페이지 끝 -->

        <!-- 마스코트걸과 검색창 + 게시판목록은 세션유무에 따라 나와야함(회원만 볼 수 있는 화면) -->
		{% if request.session.login_ %}
        <div class="container-xxl bg-primary my-6 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container px-lg-5">
                <div class="row align-items-center" style="height: 250px;">
                    <div class="col-12 col-md-6">
                        <h3 class="text-white">무엇을 찾고있나요?</h3>
                        <small class="text-white">게시판이나 유형 구분 없이 편하게 검색해보세요</small>
                        <div class="position-relative w-100 mt-3">
                            <form method="get" action="{% url 'searchpost' %}">
                            <input class="form-control border-0 rounded-pill w-100 ps-4 pe-5" type="text" placeholder="작성자나 제목 또는 내용으로 게시물을 검색해보세요" style="height: 48px;" name="r" value="{{r}}">
                            <button type="button" class="btn shadow-none position-absolute top-0 end-0 mt-1 me-2"><i class="fa fa-paper-plane text-primary fs-4"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="col-md-6 text-center mb-n5 d-none d-md-block">
                        <img class="img-fluid mt-5" style="max-height: 250px;" src="{% static 'img/newsletter.png'%}">
                    </div>
                </div>
            </div>
        </div>
		
        <!-- 마스코트걸과 검색창끝 -->


        <!-- 게시판 네모네모 시작 --> 
        <div class="container-xxl py-6">
            <div class="container">
                <div class="mx-auto text-center wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
                    <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">게시판</div>
                    <h2 class="mb-5">게시판~~~ 어디 들어갈껀가요~~ 이건 있어도그만없어도그만~~</h2>
                </div>
                <div class="row g-4">
                    {% for category, info in boards %}
                    <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                            <div class="service-item rounded h-100">
                                <div class="d-flex justify-content-between">
                                    <div class="service-icon">
                                        <i class="fa fa-user-tie fa-2x"></i>
                                    </div>                   
                                </div>		
                                <div class="p-5"><a href="/YourClass/board1/{{category}}">
                                    <h5 class="mb-3">{{category}}</h5>
                                    <span>{{info}}</span>
                                </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        <!-- 게시판 네모네모끝 -->


        <!-- Features Start / 비회원용 화면이니까 else로 나눠줌 -->
		{% else %}
        <div class="container-xxl py-6">
            <div class="container">
                <div class="row g-5">
                    <div class="col-lg-5 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="d-inline-block border rounded-pill text-primary px-4 mb-3">Features</div>
                        <h2 class="mb-4">아직도 SNS,메신저로만 소통하시나요? YourClass로 시작해보세요</h2>
                        <p>당신의 클래스와 관련된 사항은 YourClass에서 모두 해결하세요</p>
                        <a class="btn btn-primary rounded-pill py-3 px-5 mt-2" href="signup">회원가입</a>
                    </div>
                    <div class="col-lg-7">
                        <div class="row g-5">
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.1s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-cubes text-white"></i>
                                    </div>
                                    <h6 class="mb-0">모든것이 무료</h6>
                                </div>
                                <span>YourClass는 무료 회원제 어플리케이션입니다, 이 모든 혜택을 무료로 누리세요</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.2s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-percent text-white"></i>
                                    </div>
                                    <h6 class="mb-0">모두가 우리반</h6>
                                </div>
                                <span>100% 우리반 학생들로만 운영할 수 있습니다.</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.3s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-award text-white"></i>
                                    </div>
                                    <h6 class="mb-0">과제나 수업자료를 편리하게 공유,공지 할 수 있습니다</h6>
                                </div>
                                <span>자료실을 이용해 쉽게 자료를 나누고, 공지사항은 모든 게시판에</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.4s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-smile-beam text-white"></i>
                                    </div>
                                    <h6 class="mb-0">모두가 즐거운 공간</h6>
                                </div>
                                <span>게시판으로 우리만의 이야기, 공감가는 이야기, 자유롭게 질문하고 답할 수 있습니다</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.5s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-user-tie text-white"></i>
                                    </div>
                                    <h6 class="mb-0">일정관리</h6>
                                </div>
                                <span>선생님의 사전 일정공지를 모두가 확인할 수 있습니다</span>
                            </div>
                            <div class="col-sm-6 wow fadeIn" data-wow-delay="0.6s">
                                <div class="d-flex align-items-center mb-3">
                                    <div class="flex-shrink-0 btn-square bg-primary rounded-circle me-3">
                                        <i class="fa fa-headset text-white"></i>
                                    </div>
                                    <h6 class="mb-0">웹사이트 관리</h6>
                                </div>
                                <span>사용상 문제가 있으면 언제든 연락을 주세요 24시간 관리해 드립니다</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
		{% endif %}
        <!-- Features End -->

{% endblock %}